# Môi trường ảo
venv/
Llama_venv/
phobert-venv/
LLM-venv/

# Thư mục chứa các tệp tạm thời của Jupyter Notebook
.ipynb_checkpoints

# Tệp tùy chọn
Token_use.py

# Thư mục tạm thời của python
__pycache__/
cache/



